<header>
        
    <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand fs-2 fw-bold" href="/admin">Sneaker Hub</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="menu-option navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fs-5" aria-current="page" href="/admin"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/order">Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/shop">Shop</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/addproduct">Add Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/message">Message</a>
              </li>
            </ul>
            
            <ul class="navbar-nav" style="width: 8vw">
              <a href="/admin/logout"><button type="button" class="btn btn-outline-light"> Log Out</button></a>
            </ul>
          </div>
        </div>
      </nav>

    
      
</header>