<footer class="bg-dark text-bg-dark">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-3 ">
                <h6>Senakers Hub</h6>
                <hr class="w-50">
                <hr class="w-25 mb-4">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, maxime!</p>
            </div>
            <div class="col-md-3">
                <h6>HELMET</h6>
                <hr class="w-50">
                <hr class="w-25 mb-4">
                <ul>
                    <li><a href="/admin/shop/nike">Nike</a> </li>
                    <li><a href="/admin/shop/adidas">Adidas</a> </li>
                    <li><a href="/admin/shop/converse">Converse</a> </li>
                    <li><a href="/admin/shop/puma">Puma</a> </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>GET STARTED</h6>
                <hr class="w-50">
                <hr class="w-25 mb-4">
                <p>Get heavy discount after registration and get daily updated.</p>
                <button type="button" class="btn btn-primary">Register</button>
            </div>
            <div class="col-md-3">
                <h6>CONTACT US</h6>
                <hr class="w-50">
                <hr class="w-25 mb-4">
                <p>+977 9824495548</p>
                <p>adipthapaliya123@gmail.com</p>
                <ul class="d-flex">
                    <li><a href=""><i class="fa fa-facebook"   style="font-size: 1.4rem" aria-hidden="true"></i></a></i></li>
                    <li><a href=""><i class="fa fa-instagram"  style="font-size: 1.4rem"  aria-hidden="true"></i></a></i></li>
                    <li><a href=""><i class="fa fa-envelope"   style="font-size: 1.4rem" aria-hidden="true"></i>
                    </a></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="container-fluid bg-black">
        <div class="row text-center ">
            <div class="col-12 pt-3">
                <p>Copyright Rider Helmet © 2022. All rights reserved. || Designed By Adip Thapaliya</p>
            </div>
        </div>
    </div>
    
</footer>
