<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {%load static %}

    <link rel="stylesheet" href="{% static 'css/common/login.css'%}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

</head>
<body>

    <main>
        <div class="container form">
            <div class="row">
                <div class="col-lg-6 form-part d-flex  justify-content-center align-items-center">
                    <div>
                        <h3>Login </h3>
                        <p class="mb-4 text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <form action="/login/verification" method="post">
                          {%csrf_token%}
                            <div class="mb-3">
                                <label for="usernameinput" class="form-label">Username</label>
                                <input type="username" class="form-control" id="usernameinput" aria-describedby="username" placeholder="Your Username" name="username">
                              </div>
                              <div class="mb-3">
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordInput" aria-describedby="password" placeholder="Your Password" name="password">
                              </div>
                              <div class="mb-5 d-flex justify-content-between form-check">
                                <div>
                                    <input type="checkbox" class="form-check-input" id="rememberCheck">
                                    <label class="form-check-label text-muted" for="rememberCheck">Remember Me</label>
                                </div>
                                <div>
                                    <a href="">Forget Password?</a>
                                </div>
                              </div>
                              <div class="mb-4 d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Log In</button>
                              </div>

                              <div class="mb-3 text-center">
                                <p>Not yet member ?  <a href="">SignUp Now</a></p>
                              </div>
                        </form>
                    </div>
                      
                </div>
                <div class="col-lg-6 image-part">

                </div>
            </div>
        </div>
    </main>
    
</body>
</html>